.mobile-only {
    display: none;
}
.colab-card p {
    margin: 0;
}

.titles h3 {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.details h4 {
    color: #222;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.details h3 {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.titles h4 {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 992px) {
    .mobile-only {
        display: block;
    }
}

.colab-card { 
    display: inline-flex;
    width: 314px;
    padding: 24px;
    border-radius: 17px;
    border: 1px solid var(--Outlines, #EAEAEA);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.10);
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.img-perfil {
    width: 146px;
    height: 146px;
    border-radius: 73px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
}

.location{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    gap: 82px;
}

h1 {
    margin-top: 10px;
    color: #000;
    font-family: "Segoe UI";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buton-side-active{
    margin: auto;
    display: flex;
    width: 56px;
    height: 56px;
    padding: 16px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #353535;
    justify-content: center;
    align-items: center;
}

.buton-side{
    margin: auto;
    display: flex;
    width: 56px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;

    border-radius: 11px;
    border: 1px solid var(--Outlines, #EAEAEA);
    background: #F9F9F9;
}

.logo-side {
    padding-left: 23px !important;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.side-bar {
    height: 100%;
    width: 82px;

    border-radius: 20px;
    border: 1px solid var(--Outlines, #EAEAEA);
    background: #FFF;

    /* Shadow large */
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.07);
}

.texto-presentacion {
    color: #2C5629;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-paragraph {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.input-forms {
    border-radius: 9px;
    border: 1px solid var(--Outlines, #EAEAEA);
    min-width: 314px;
    height: 48px;
    /* Shadow */
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.10);
}

.inicioSesion-btn {
    border-radius: 8px;
    border: 1px solid var(--Black, #272727);
    background: #000;
}

.forms-paragraph {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.max {
    width: 95vw;
    height: 95vh;
}


body {
    overflow: hidden;
}

.background-awaq {
    background-image: url("../img/background.png");
}

.forgot-password {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.mantener-sesion {
    font-size: 12px;
}

.mantenerSesion-cuadrito {
    border-radius: 5px;
    border: 1px solid #000;
}

.mantenerSesion-text {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

@media(max-width: 991px) {
    body {
        overflow-y: scroll;
    }
}

.question {
    color: #888;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.crearCuenta {
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.bkgDash{
    background-image: url(../img/Home.png);
    height: 100vh;
    width: auto;
}

.bkgLead{
    background-image: url(../img/Lead.png);
    height: 100vh;
    width: auto;
}