@page
@model Onboarding_AWAQ.Pages.DashboardModel
@{
    Layout = "~/Pages/Shared/_LayoutSideBar.cshtml";
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <h1>Dashboard</h1>
</div>
<div class="row" >
    <img src="./img/Home.png" class="img-fluid">
</div>
