@page
@model IndexModel
@{
    ViewData["Title"] = "Log in AWAQ";
   
}

<section>
    <div class="row full-row">
        <!-- Forms column -->
        <div class="col-lg-6 d-flex justify-content-center align-items-center form-column card-body p-md-5 auth-container">
            <!-- Logo and welcome message -->
            <div class="col-12 auth-title">
                <img src="./img/AWAQ-logo.png">
                <h1>Bienvenido de Nuevo</h1>
                <p>Por favor, ingresa tus datos</p>
            </div>

            <!-- Login form -->
            <form method="post" class="col-12">
                <!-- Text inputs -->
                <div class="input-group">
                    <!-- Mail -->
                    <div class="input col-12">
                        <label class="forms-paragraph">Correo</label>
                        <input type="text" asp-for="correo">
                    </div>
                    <!-- Password -->
                    <div class="input col-12">
                        <label class="forms-paragraph">Contraseña</label>
                        <input type="password" asp-for="contrasena">
                    </div>
                </div>
                <!-- Form actions -->
                <div class="form-actions">
                    <!-- Options -->
                    <div class="form-options">
                        <!-- Checkbox Remember me-->
                        <div class="form-check mb-0 pr-3 align-items-center">
                            <input class="form-check-input me-2 check-square" type="checkbox">
                            <a href="#!">Mantener Sesión</a>
                        </div>
                        <!-- Link recuperacion -->
                        <div class="form-check mb-0 pr-3 align-items-center">
                            <input class="form-check-input me-2 no-check" type="checkbox">
                            <a asp-page="Recuperacion">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark col-12 inicioSesion-btn">Iniciar Sesión</button>
                    </div>    
                </div>
                <!-- Boton temporal de dashboard
                <div class="pt-4 mb-4">
                    <a asp-page="Dashboard" class="btn btn-dark col-4 inicioSesion-btn">Dashboard</a>
                </div> -->
            </form>
        </div>

        <!-- Image column -->
        <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center position-relative auth-img-col">
            <!-- AWAQ Logo -->    
            <img src="./img/AWAQ-LOGOHD.png" alt="logo de la marca">
        </div>
    </div>    
</section>