@page
@model Onboarding_AWAQ.Pages.LeaderboardcshtmlModel
@{
    Layout = "~/Pages/Shared/_LayoutSideBar.cshtml";
    ViewData["Title"] = "Leaderboard";
}

<div class="row">
    <h1>Leaderboard</h1>
</div>
<div class="row" >
    <img src="./img/Lead.png" class="img-fluid">
</div>