@page
@model Onboarding_AWAQ.Pages.LeaderboardModel
@{
    Layout = "~/Pages/Shared/_LayoutSideBar.cshtml";
    ViewData["Title"] = "Leaderboard";
}


<div class="row">
    <h1>Podio</h1>
</div>
<div class="row h-100 w-100" style="gap: 2rem;">
    <div class="col-top-3 h-100" id="cards-container">
    </div>
    <div class="col lead-container h-100">
        <div class="titles">
            <p style="width: 4rem;">Lugar</p>
            <p style="width: 13rem;">Nombre</p>
            <p style="width: 4rem;">Puntos</p>
            <p style="width: 5rem;">Tiempo</p>
            <p style="width: 7rem;">Terminado</p>
            <p style="width: 12rem;">Departamento</p>
        </div>
        <div class="rows-container w-100" id="rows-container">
        </div>
    </div>
</div>
<script src="./js/leaderboard.js"></script>