@page
@model MyApp.Namespace.PreguntasModel
@{
    Layout = "~/Pages/Shared/_LayoutSideBar.cshtml";
    ViewData["Title"] = "Preguntas";
    var user = HttpContext.Session.GetString("usuario");
}

<div class="row">
    <h1>Preguntas</h1>
</div>