@page
@model WebApp_AWAQ.Pages.RecuperacionModel
@{
    ViewData["Title"] = "Recuperación";
}

<section>
    <div class="row full-row">
        <!-- Froms column -->
        <div class="col-lg-6 d-flex justify-content-center align-items-center form-column card-body p-md-5 auth-container">
                <!-- Logo and welcome message -->
            <div class="col-12 auth-title">
                <img src="./img/AWAQ-logo.png">
                <h1>Recuperación de cuenta</h1>
            </div>

            @if (!Model.validToken && Model.validCorreo)
            {
                <form method="post" class="col-12 form-login">
                    <div class="input col-12">
                        <label class="forms-paragraph">Codigo de recuperacion</label>
                        <input type="text" asp-for="inputToken">
                    </div>
                    <input type="hidden" value="true" name="isValidCorreo"/>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark col-12 inicioSesion-btn">Verificar</button>
                    </div>

                    @if (Model.inputToken != null && Model.token != Model.inputToken)
                    {
                        <label>El token ingresado no corresponde con el token enviado por correo</label>
                    }
                </form>
            }
            else
            {
                <form method="post" class="col-12 form-login">
                    @if (Model.validToken && !Model.validContra){
                        /**/
                        <div class="input-group">
                            <div class="input col-12">
                                <label class="forms-paragraph">Contraseña</label>
                                <input type="input-forms form-control" name="contrasena">
                            </div>
                            <div class="input col-12">
                                <label class="forms-paragraph">Verificar Contraseña</label>
                                <input type="input-forms form-control" name="verificarContrasena">
                            </div>
                        </div>
                        <div class="form-actions col-12">
                            <input type="hidden" value="true" name="isValidCorreo" />
                            <input type="hidden" value="true" name="isValidToken" />
                            <button type="submit" class="btn btn-dark col-12 inicioSesion-btn">Cambiar Contraseña</button>
                        </div>
                    } else {
                        /* Mail */
                        <div class="input col-12">
                            <label class="forms-paragraph">Correo</label>
                            <input type="text" asp-for="correo">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark col-12 inicioSesion-btn">Eviar codigo de Recuperación</button>
                        </div> 
                        <div class="form-actions mb-0 pr-3 align-items-center">
                            <p><span class="question"> ¿Ya tienes una cuenta?</span> <a asp-page="Index" class="text-body crearCuenta">Inicia Sesión</a></p>
                        </div>   
                    }
                </form>
            }
        </div>
        
        <!-- Image column -->
        <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center position-relative auth-img-col">
            <!-- AWAQ Logo -->    
            <img src="./img/AWAQ-LOGOHD.png" alt="logo de la marca">
        </div>
    </div>
</section>