@page
@model WebApp_AWAQ.Pages.RecuperacionModel
@{
    Layout = "~/Pages/Shared/_LayoutSideBar.cshtml";
    ViewData["Title"] = "Registro de Usuario";
   
}

<div class="row">
    <h1>Registro de nuevo colaborador</h1>
</div>
<div class="row" >
    <form class="pt-2">
        <p class="forms-paragraph">Pais</p>
        <div class="form-outline mb-3">
            <input class="input-forms form-control">
        </div>
    </form>
</div>
