@page
@model Onboarding_AWAQ.Pages.RegistroModel
@{
    ViewData["Title"] = "Registro";
    Layout = "~/Pages/Shared/_LayoutSideBar.cshtml";
}

<div class="row">
    <h1>Registro de nuevo colaborador</h1>
</div>
<form method="post" class="row">
    <div class="input-group registro-form">
        <!-- País -->
        <div class="input col-12">
            <label class="forms-paragraph">País</label>
            <select asp-for="pais"> 
                <option selected>Selecciona</option>
                <option value="España">España</option>
                <option value="Mexico">México</option>
                <option value="Colombia">Colombia</option>
            </select>
        </div>
        <!-- Ciudad -->
        <div class="input col-12">
            <label class="forms-paragraph">Ciudad</label>
            <select asp-for="ciudad"> 
                <option selected>Selecciona</option>
                <option value="Barcelona">Barcelona</option>
                <option value="CDMX">CDMX</option>
                <option value="Bogota">Bogota</option>
            </select>
        </div>
        <!-- Departamento -->
        <div class="input col-12">
            <label class="forms-paragraph">Departamento</label>
            <select asp-for="departamento"> 
                <option selected>Selecciona</option>
                <option value="TEDI">TEDI</option>
                <option value="Recursos Humanos">Recursos humanos</option>
            </select>
        </div>
        <!-- Foto de perfil -->
        <div class="input col-12">
            <label for="file-input">Sube una foto de perfil</label>
            <input type="file" id="file-input" class="input-button"/>
        </div>
        <!-- Nombre -->
        <div class="input col-12">
            <label class="forms-paragraph">Nombre</label>
            <input type="text" asp-for="nombre">
        </div>
        <!-- Mail -->
        <div class="input col-12">
            <label class="forms-paragraph">Correo</label>
            <input type="text" asp-for="correo">
        </div>
        <!-- Number -->
        <div class="input col-12">
            <label class="forms-paragraph">Numero</label>
            <input type="text" asp-for="telefono">
        </div>
        <!-- Temp password -->
        <div class="input col-12">
            <label class="forms-paragraph">Contraseña provicional</label>
            <input type="text" asp-for="contrasena">
        </div>
        
    </div>  
    <div class="card-button">
        <div class="card-colab">
            <img src="./img/profile.png" alt="Colaborador" class="colab-img perfil">
            <div class="card-name-dept">
                <h1 class="card-title nombre">Debra Holt</h1>
                <h2 class="card-subtitle departamento">TEDI</h2>
            </div>
            <div class="card-details">
                <div class="card-location">
                    <h1 class="card-title ciudad">Barcelona</h1>
                    <h2 class="card-subtitle pais">España</h2>
                </div>
                <p class="correo">mail@gmail.com</p>
                <p class="telefono">+52 81 123 45 67</p>
            </div>
        </div>
        <button type="submit" class="btn btn-dark col-12 inicioSesion-btn">Registrar</button>
    </div>    
</form>



