<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Link to style -->
    <link href="./css/style.css" rel="stylesheet" />

    <!-- GoogleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Bebas+Neue&family=Inter:wght@100..900&family=Signika+Negative:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap" rel="stylesheet">

</head>
<body style="margin-bottom: 0; height: 100vh">
    <div style="margin: 0%; padding: 0%; width: 100%; height: 100%">
        <main role="main" style="height: 100%;">
            <section style="height: 100%; padding: 3vh;">
                <div class="row" style="padding-left: 0; padding-right: 0; height:100%; --bs-gutter-x: 0;">
            <!-- Columna de sidebar -->
                    <div class= "mobile-only" style="width: 82px; padding: 0; margin-right: 40px;">
                        <partial name="_sidebar" /> 
                       <!--  @await Html.PartialAsync("_sidebar", model: new Onboarding_AWAQ.Pages.Shared._LayoutSideBarModel())-->
                    </div>
            <!-- Columna de contenido -->
                    <div class="col d-flex flex-column justify-content-between">
                        @RenderBody()
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>