<script src="./js/sidebar.js"></script>

<!-- Main container -->
<div class= "d-flex d-none d-lg-flex flex-column flex-shrink-0 sidebar sticky">

    <!-- AWAQ logo -->
    <div class="d-block p-3 link-body-emphasis text-decoration-none logo-side">
        <img src="./img/Logo AWAQ.png">
    </div>

    <!-- Sidebar navigation -->
    <ol class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <!-- Dashboard button -->
        <li class="nav-item">
            <a asp-page="Dashboard" aria-label="Home">
            <img src="./img/Dashboard-default.png">
            </a>
        </li>
        <!-- Registro button -->
        <li class="nav-item">
            <a href="Registro" aria-label="Dashboard">
            <img src="./img/Registro-default.png">
            </a>
        </li>
        <!-- Leaderboard button -->
        <li class="nav-item">
            <a asp-page="Leaderboard" aria-label="Orders">
            <img src="./img/Leaderboard-default.png">
            </a>
        </li>
    </ol>
    <!-- Profile icon -->
    <div class="dropdown">
    <a href="#" class="d-flex align-items-center justify-content-center p-3" data-bs-toggle="dropdown">
        <img src="./img/User Circle.png" class="rounded-circle">
    </a>
    <!-- Profile menu -->
    <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-page="Index">Sign out</a></li>
    </ul>

    </div>
</div>