<script src="./js/sidebar.js"></script>
<script src="./js/card.js"></script>


<!-- Main container -->
<div class= "d-flex d-none d-lg-flex flex-column flex-shrink-0 sidebar sticky">

    <!-- AWAQ logo -->
    <div class="d-block p-3 link-body-emphasis text-decoration-none logo-side">
        <img src="./img/Logo AWAQ.png">
    </div>

    <!-- Sidebar navigation -->
    <ol class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <!-- Dashboard button -->
        @if(Model.admin){
            <li class="nav-item">
                <a asp-page="DashboardAdmin" aria-label="Home">
                <img src="./img/Dashboard-default.png">
                </a>
            </li>
        } else {
            <li class="nav-item">
                <a asp-page="Dashboard" aria-label="Home">
                <img src="./img/Dashboard-default.png">
                </a>
            </li>
        }

        <!-- Leaderboard button -->
        <li class="nav-item">
            <a asp-page="Leaderboard" aria-label="Leaderboard">
            <img src="./img/Leaderboard-default.png">
            </a>
        </li>
        
        <!-- estudio button -->
        <li class="nav-item">
            <a asp-page="Estudio" aria-label="Tutoriales">
            <img src="./img/Estudio-default.png">
            </a>
        </li>

        <!-- Preguntas button -->
        <li class="nav-item">
            <a asp-page="Sugerencias" aria-label="Preguntas">
            <img src="./img/Sugerencias-default.png">
            </a>
        </li>

        <!-- Registro button -->
        @if (Model.admin){
            <li class="nav-item">
                <a asp-page="Registro" aria-label="Registro">
                    <img src="./img/Registro-default.png">
                </a>
            </li>
        }

        <!-- Creditos button -->
        <li class="nav-item">
            <a asp-page="Creditos" aria-label="Creditos">
            <img src="./img/Creditos-default.png">
            </a>
        </li>

        <!-- Instrucciones button -->
        <li class="nav-item">
            <a asp-page="Instrucciones" aria-label="Instrucciones">
            <img src="./img/Instrucciones-default.png">
            </a>
        </li>
    </ol>

    <!-- Profile icon -->
    <div class="dropdown">
    <a href="#" class="d-flex align-items-center justify-content-center p-3" data-bs-toggle="dropdown">
        <img src="@Model.src" class="rounded-circle">
    </a>
    <!-- Profile menu -->
    <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">Configuración</a></li>
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-page="LogOut">Sign out</a></li>
    </ul>

    </div>
</div>